*{
    margin: 0;
}
.logo{
    width: 120px;
}
.header-container {
    background-color: rgba(3, 0, 0, 0.927);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
   
    
}
.menu li{
    margin-right: 20px;
    font-weight: 700;
}

.banner-container{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(./images/background.png),linear-gradient(45deg, rgba(54, 19, 19, 0.927),#2e2e2e);
    color: whitesmoke;
}


.main-header{
    font-size: 42px;
    
}
.banner-container p{
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
.btn{
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    background-color: orangered;
    color: white;

}
.banner-img,.about-img{
    width: 330px;
}

/* this is mid section */
.about-container-out> h1{
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
}
.about-container {
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 50px;
}
.about-container>h1{
    font-size: 32px;
    
}
.about-container p{
    margin-top: 10px;
    margin-bottom: 10px;
    
}


.service-container{
    background-color: #130f0f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 500px;
}
.service-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 230px;
    height: 300px;
    color: white;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(20, 20, 41) 100%, rgba(0,212,255,1) 100%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 2px 105px gray;
}
.service-box p{
    margin-top: 10px;
    bottom: 10px;
}
.service-logo{
    width: 120px;
}
.service-btn{
    margin-top: 20px;
    background-color: #2e2e2e;
    color: azure;
    background-color: black;
}